# Backend environment variables
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
JWT_SECRET=your_secret_key_here
# Comma-separated list of allowed frontend origins
CLIENT_URL=http://localhost:5173,https://your-frontend.onrender.com
# Set to "production" in production to use secure cookies
NODE_ENV=development
